<div class="container myform-align">
    
    <img src="/assets/logo.png"  style="height:100px ; width:100px;"align="left"/>
    
    <div class="container" style="text-align: center; padding-top:2em">
    <h1>Form</h1> 
    </div>
      <br>
    <form>
        <div class="form-group">
        <label for="UserName"> UserName : </label>
        <input type="text" required ngModel #name="ngModel" [(ngModel)]="UserName" name="UserName" class="form-control"  placeholder="Enter Username">
        <div class="alert alert-danger" *ngIf="name.invalid || name.pristine ">Name is Compulssory.</div>
      </div >

        <div class="form-group">
        <label for="Password"> Password : </label>
        <input type="password" required ngModel #password ="ngModel" [(ngModel)]="Password" name="Password" class="form-control"  placeholder="Enter your password" >
         <div class="alert alert-danger" *ngIf="password.invalid || password.pristline"> Password is Compulsary </div>
      </div>

        <button type="submit" class="btn btn-default" (click)="sendData()" >Submit</button>
 

        </form>
  </div>
